.search-bar-container {
    padding: 1em;
    background-color: #fff;
}
.similar-recipes-section {
    padding: 1em 1.5em;
}
.similar-recipes-container {
    display:flex; 
    flex-wrap: wrap;
    gap: 1.5em;
}
